* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  background-color: #E8EBF1;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 90px;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

.nav-container .nav-left {
  width: 30%;
}

.nav-container .nav-left img {
  height: 100%;
}

.nav-container .nav-right {
  width: 70%;
}

.nav-container .nav-right ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container .nav-right ul li {
  margin-left: 55px;
}

.nav-container .nav-right ul li a {
  text-decoration: none;
  font-size: 17px;
}

.nav-container .nav-right ul li a.candidati-btn {
  border: 1px solid #61ce4e;
  background-color: #61ce4e;
  border-radius: 10px;
  padding: 10px 25px;
  color: #fff;
}

.nav-container .nav-right ul li a.candidati-btn:hover {
  background-color: #73d462;
}

.wrapper {
  width: 80%;
  margin: 120px auto 0 auto;
}

.nav-footer {
  background-color: #1B3C59;
}

.nav-footer .container-fluid-top {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-top: 65px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #fff;
}

.nav-footer .container-fluid-top .nav-footer-left {
  display: flex;
  flex-direction: column;
}

.nav-footer .container-fluid-top .nav-footer-left img {
  width: 200px;
}

.nav-footer .container-fluid-top .nav-footer-left small {
  font-size: 15px;
  margin-top: 5px;
  color: #fff;
}

.nav-footer .container-fluid-top .nav-footer-right ul {
  list-style: none;
  text-align: right;
}

.nav-footer .container-fluid-top .nav-footer-right ul li {
  padding: 5px 0;
}

.nav-footer .container-fluid-top .nav-footer-right ul li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

